<h1>Tomar asistencia</h1>


<table class="table">
  <tr>
    <th>Nombre</th>

  </tr>

<% groups.each do |group| %>
  <tr>
        <td><%= link_to group.name, group_path(group, asistencia: true) %></td>
  </tr>
<% end %>
</table>
