<p>Hola <%= @resource.email %>!</p>

<p>Alguien solicitó un cambio de contraseña para tu cuenta, puedes hacer eso en la siguiente liga:</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Si tu no solicitaste esto, porfavor ignora este correo.</p>
<p>Tu contraseña no cambiará hasta que accedas a la liga y crees uno nuevo.</p>
